.bh-sidebar {
  position: sticky;
  top: 0;
  height: 100vh;
  border-right: 1px solid #eee;
  background: #fff;

  .nav .nav > li {
    padding-left: .5rem;
  }

  .nav-item {
    &-icon {
      display: inline-block;
    }
  }
}
